
<html>
    <head>
        <title>  Login  </title>
        <link rel="stylesheet"  href="./login.component.css">   
    </head>

        <body >
    <div id ="back">
        <div class="login-box">
           <img src="/assets/avatar.png" class="avatar">
            <h1>Login </h1>
                <form>
                <p>Username</p>
                <input type="text" name="username" placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password">
                <input type="submit" name="submit" value="Login">
               <span> You do not have an account ? <a routerLink="contact">Sign up</a></span>
               
                    
                </form>
        </div>
    </div>
            
                    
        </body>


        
    </html>