<html>
    <head>
        <title>  Login  </title>
        <link rel="stylesheet"  href="./signup.component.css">   
    </head>

        <body >
    <div id ="back">
        <div class="login-box">
           <img src="/assets/avatar.png" class="avatar">
            <h1>Sign up</h1>
                <form>
                <p>First name </p>
                <input type="text" name="username" placeholder="Enter Firstname">
                <p>Last name </p>
                <input type="text" name="username" placeholder="Enter Lastname">
                
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password">
                <input type="submit" name="submit" value="Login">
               
               
                    
                </form>
        </div>
    </div>
            
                    
        </body>


        
    </html>